/doc/publication/.com.greenworldsoft.syncfolderspro
/doc/presentation/5.LW estimation of cloud cover Mino_ANDRIANTSALAMA.pptx
/doc/ref/applsci-11-00719-v2.pdf
/doc/ref/atmosphere-12-00028-v3.pdf
/doc/presentation/ITISE_2022_Gran_Canaria_Spain/CF_Estimation.pptx
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/doc/presentation/ITISE_2022_Gran_Canaria_Spain/Speech PPT .docx
/doc/presentation/ITISE_2022_Gran_Canaria_Spain/Submission_149_CF_Estimation_video.mp4
/.idea/vcs.xml
/doc/ref/Water Resources Research - March 1993 - Sugita - Cloud effect in the estimation of instantaneous downward longwave.pdf
/.idea/webResources.xml
/.idea/LW_XGBoost_Cloud.iml
/doc/ref/metadata.jpg
/local_data/data_bsrn_2019-2022.lwidjy.qca_v.csv
/.idea/misc.xml
/doc/ref/Modeling of downward longwave radiation and radiative cooling potential in China Journal of Renewab.pdf
/.idea/modules.xml
/doc/ref/okta.pdf
/.idea/other.xml
/doc/presentation/ITISE_2022_Gran_Canaria_Spain/POSTER_V4.2.pptx
/doc/presentation/ITISE_2022_Gran_Canaria_Spain/POSTER_V4.3.pdf
/doc/presentation/ITISE_2022_Gran_Canaria_Spain/POSTER_V4.3.pptx
/.idea/.gitignore
/plot/bias_in_hour.png
/plot/check_normal.bias_APACADA.png
/plot/check_normal.bias_XGB.png
/plot/check_normal.CF_OBS.png
/.hydra/config.yaml
/.idea/csv-plugin.xml
/.idea/git_toolbox_prj.xml
/.hydra/hydra.yaml
/lw_xgb_cld.log
/.hydra/overrides.yaml
/doc/ref/rapport010720.pdf
/dataset/test_result_2022-01-03_2022-02-01.csv
/plot/valid.1.raw.png
/plot/valid.1.smoothed.png
/plot/valid.2.cross_corr.png
/plot/check_normal.check.normal.png
/plot/bias_in_ct_test..png
/dataset/ct.S_NWC_CT_MSG1_globeI-VISIR_201706-202206.lonlat.moufia.yearly.local_time.reallocation.regroup
/dataset/data_valid_ct
/plot/valid.1.smoothed_with_bias.png
/plot/valid.1.octas.png
/plot/valid_by_octas.png
/plot/valid_by_octas_bias_frequency.png
doc/presentation/.DS_Store
.vscode/settings.json
doc/.DS_Store
.DS_Store
*.docx
/local_data
/XGBoost/backup/curvesWithout_Pressure.png
/XGBoost/backup/default_model.png
/XGBoost/backup/Without_Pressure
/XGBoost/backup/Without_Pressure.png
/dataset/raw.bsrn_lacy.2019_2022.1min.local_time.csv
