/doc/publication/.com.greenworldsoft.syncfolderspro
/doc/presentation/5.LW estimation of cloud cover Mino_ANDRIANTSALAMA.pptx
/doc/ref/applsci-11-00719-v2.pdf
/doc/ref/atmosphere-12-00028-v3.pdf
/doc/presentation/ITISE_2022_Gran_Canaria_Spain/CF_Estimation.pptx
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/doc/presentation/ITISE_2022_Gran_Canaria_Spain/Speech PPT .docx
/doc/presentation/ITISE_2022_Gran_Canaria_Spain/Submission_149_CF_Estimation_video.mp4
/.idea/vcs.xml
/doc/ref/Water Resources Research - March 1993 - Sugita - Cloud effect in the estimation of instantaneous downward longwave.pdf
/.idea/webResources.xml
/.idea/LW_XGBoost_Cloud.iml
/doc/ref/metadata.jpg
/.idea/misc.xml
/doc/ref/Modeling of downward longwave radiation and radiative cooling potential in China Journal of Renewab.pdf
/.idea/modules.xml
/doc/ref/okta.pdf
/.idea/other.xml
/doc/presentation/ITISE_2022_Gran_Canaria_Spain/POSTER_V4.2.pptx
/doc/presentation/ITISE_2022_Gran_Canaria_Spain/POSTER_V4.3.pdf
/doc/presentation/ITISE_2022_Gran_Canaria_Spain/POSTER_V4.3.pptx
/.idea/.gitignore
